body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #17171a;
    color: white;
    font-weight: 200;
    display: flex;
    justify-content: center;
}

[v-cloak]>* {
    display: none;
}

[v-cloak]::before {
    content: "loading data...";
    font-size: 1.5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#app {
    display: flex;
    justify-content: center;
    width: 100%;
}